
#login
  position relative
  width 300px
  margin 100px auto
  td
    padding 5px
  button
    margin-right 10px
body
  padding-bottom 40px
  height 100%
  padding-top 70px

.github
  display inline-block !important
  height 30px
  width auto

.form-signin
  max-width 330px
  padding 15px
  margin 0 auto
  .checkbox
    font-weight normal
  .form-control
    position relative
    height auto
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box
    padding 10px
    font-size 16px
    &:focus
      z-index 2
  input[type="password"]
    margin-bottom 10px

.form-signin .form-signin-heading,
.form-signin .checkbox
  margin-bottom 10px

.form-signupForm
  max-width 330px
  padding 15px
  margin 0 auto
  .checkbox
    font-weight normal
  .form-control
    position relative
    height auto
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box
    padding 10px
    font-size 16px
    &:focus
      z-index 2
  input[type="password"]
    margin-bottom 10px

.form-signupForm .form-signupForm-heading,
.form-signupForm .checkbox
  margin-bottom 10px
#wrap
  min-height 100%
  height auto !important
  height 100%
  margin 0 auto -60px

#push,
#footer
  height 60px

#footer
  background-color #f5f5f5
  position absolute
  left 0px
  right 0px
  bottom 0px
  text-align center
